
@media only screen and (max-width: 767px) {
.container-fluid{
	background-color: #3e2723;
}
	#navigation button i {
		color: #ffe0b2;
	}
	.welcome-box {
		padding: 150px 0px;
	}
	#logo {
		color: #1e1e1e;
	}
	.navbar-toggle {
		padding: 0;
		margin: 0;
		font-size: 28px;
		position: absolute;
		right: 0;
		top: 50%;
		background: none;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		display:block;
		box-shadow:none;
		border:0;
		outline: none;
		cursor:pointer;
	}

	.navbar {
		padding:15px 0;
	}
	.navbar-toggle:focus {
		outline:none;
	}
	.navbar-nav {
		margin: 0;
	}
	.collapse:not(.show) {
		display:block;
	  }
	.navigation-menu > li {
		display: block;
		margin: 0;
		font-size: 15px;
		text-align: center;
	}
	.navigation-menu > li > a {
		color:#222;
		font-size: 1.5rem;
		font-weight: bolder;
		padding:5px;
	}
	.navigation-menu > li > a:hover {
		color: #1e1e1e;
	}
	.navbar-nav {
		overflow-y: auto;
		display:block;
		background:  #ffecb3;
		border-bottom-left-radius: 1rem;
		border-bottom-right-radius: 1rem;
	}
	.navbar-nav li a:after {
		display:none;
	}
	.theme{
		color: #222;
	}
	.nav-box {
		position: absolute;
		left: -15px;
		right: -15px;
		border: 0;
		box-shadow: none;
		background: #3e2723;
		text-align:left;
		display: none;
		top: 100%;
		border-bottom-left-radius: 1.5rem;
		border-bottom-right-radius: 1.5rem;
	}
	.home-title{
		color: #ef6c00;
		font-size: 2.5rem;
		font-weight: bolder;
	  }
	.head-text{
		display: none;
	  }
	  .menu{
		margin: 1.5rem 0;
		width: 90%;  
		background-color: #4E342E;
		border-radius: 1rem;
	  }
	  .food-decription1{
		  font-size: 20px;
	  }
	  .food-decription{
		font-size: 20px;
	  }
	.about{
		height: max-content;
		width: 90%;
	}
	.food-flex{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	  .opening{
		margin-bottom: 10rem;
		width: 90%;
		display: flex;
		flex-direction: column;
	  }
	  .opening-flex{

		display: flex;
		flex-direction: column;
	  }
	  .opening-img{
		width: 100%;
		margin-left: auto;
		border-bottom-right-radius: .5rem;
		border-bottom-left-radius: .5rem;
	  }
	  .contact-flex{
		display: none;
	  }
	  .contact_header1{
		  display: block;
		  font-size: 2rem;
		  font-family: font;
		  color: orange;
			font-weight: bold;
			text-align:center;
	  }
	  .contact{
		display: flex;
		flex-direction: column;
		width: 90%;
		margin:2rem 0;
	  }
	  ul{
		margin-top: 2rem;
		margin-left: 0;
	  }
}
