body {
  font: 16px/1.6 'Raleway', Arial, Helvetica, sans-serif;
  
  text-align:center;
  background-color: #3e2723;
  width: 100%;
  overflow-x: none;
}
@font-face {
  font-family: fonts;
  src: url( ../fontss3/Athena\ of\ the\ Ocean.ttf);
}
@font-face{
  font-family: font;
  src: url( ../fontss3/Gabrielle.ttf);
}
header{
  background: url("/img/img2.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius:.5rem;
  border-bottom-right-radius: .5rem;
  box-shadow: 2px 2px 8px #5d4037;
}
.container-fluid {
  padding: 4px 20px;
  position: fixed;
  left:0;
  right:0;
  top:0;
 
}
a#logo {
  position: relative;
  left: -1.5rem;
  top: -0.5rem;
  height: 3rem;
  text-decoration: none;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 700;
}
.logo{
  position: relative;
  left: 0;
  top: -0.5rem;
  width: 5rem;
  height: 5rem;
}

.navbar {
  padding: 0;
}
 .navbar-toggle {
  display:none;
} 
.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.navbar-nav li {
  margin-top: -2.5rem;
  margin-left: 10px;
}
.navbar-nav li a {
  color:#ffecb3;
  font-weight: bolder;
  margin-left: 2rem;
  font-size: 20px;
  text-decoration:none;
  display:block;
  opacity: 0.9;
}
.navbar-nav li a:after {
  content:'';
  display:block;
  height: 2px;
  background:#ffecb3;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform:scale(0);
  transform:scale(0);
  margin-top: 4px;
}
.navbar-nav li a:hover:after, .navbar-nav li.active a:after{
  -webkit-transform:scale(1);
  transform:scale(1);
}
.head-text{
  color: #ffecb3;
  font-family: ubuntu;
  font-weight: bolder;
  font-size: 2.5rem;
  }
.collapse:not(.show) {
  display:block;
}
.home {
  padding-top: 30vh;
  overflow: hidden;
  align-items: center;
  text-align: center;
}
.home-title{
  color: #ffecb3;
  font-size: 2.5rem;
  font-weight: bolder;
}
.title-description{
  font-weight: bolder;
  font-size: 1.5rem;
}

.title:hover{
  transform: scale(1.1);
  transition: all 1s ease-in-out;
}
main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.menu{
  margin: 1.5rem 0;
  width: 80%;  
  background-color: #4E342E;
  border-radius: 1rem;
}
.menu-title{
  color: #ffecb3;
  font-size: 40px;
  font-family: ubuntu;
  font-weight: 600;
}
.food{
  margin: 1rem;
  font-size: 2rem;
  padding: 1.5rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.food-name{
  color: #ef6c00;
  font-weight: bolder;
  font-size: 2rem;
}
.food-decription{
  padding: 1rem 0;
  color: #fff;
  line-height: 2rem;
  font-weight: bold;
}
.food-decription1{
  padding: 1rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  font-family: sans-serif;
  line-height: 2rem;
  color: rgb(255, 255, 255);
}

.food-flex{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.food:nth-child(1) {
  background: url("/img/food1.png") center top;
  background-size: cover;
  background-repeat: no-repeat;
}

.food:nth-child(2) {
  background: url("/img/food1.png") center top;
}

.food:nth-child(3) {
  background: url("/img/food1.png") center top;
}
.see-more{
  outline: none;
  margin: 1rem 0rem 1rem .5rem;
  width: 8rem;
  height: 2.5rem;
  color: orange;
  background: unset;
  border: 3px solid #fff;
  border-radius: 2rem;
}
.see-more:hover{
  background: #ef6c00;
  transition: all 1s ease;
  color: #dff;
}
.about{
  width: 80%;
  height: 80vh;
  margin: 1rem 0;
  background: url("/img/img1.jpg")center top ;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;
}

.about-head{
  padding-top: 2rem;
  color: #fff;
  font-family: font;
  font-size: 3.5rem;
  text-align: center;
  font-weight: 900;
}
.about-head:hover{
  color: orange;
  transition: all 1s ease-in-out;
}

.about-head_text{
  font-style: italic;
  font-size: 2rem;
  color: #fff;
}
.about-head_text:hover{
  color: orangered;
  transition: all 1s ease-in-out;
}
.text-sec{
  text-align: center;
  font-size: 20px;
  padding: 0 2rem;
  font-weight: bolder;
  color: orange;
}
.opening{
  display: flex;
  text-align: left;
  width: 80%;
  height: 50vh;  
  margin: .5rem 0;
  background-color:#4E342E;
  border-radius: .5rem;
}
.opening-hour{
  padding-top: 1.5rem;
  color: #ffecb3;
  font-size: 30px;
  text-align: center;
  font-weight: 900;
}
.opening-hour:hover{
  color: whitesmoke;
  transition: all 1s ease-in-out;
}
.date-time{
  margin-left: 1.5rem;
  font-weight: bold;
  font-size: 1.3rem;
  color: #efebe9;
  padding-bottom: .5rem;
}
.opening-flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.opening-img{
  width: 60%;
  height: 100%;
  margin-left: auto;
  border-bottom-right-radius: .5rem;
}
.contact{
  width: 80%;  
  margin-top: 4rem;
  background-color: #5d4037;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-flex{
  display: flex;
  flex-direction: column;
  margin-right: 5rem;
  text-align: center;
}
.phone{
  font-size: 1.5rem;
  color: #efebe9;
  font-weight: bolder;
}
.con{
  color: #fff;
}
.contact_header1{
  display: none;
}
ul{
  margin-top: 2rem;
}

.contact_header{
  display: block;
  font-size: 2rem;
  color: #ffecb3;
  font-family: sans-serif;
	font-weight: bolder;
	text-align:center;
}
label{
  display: flex;
  color: #fff;
}
li{
	list-style: none;
}
input{
    height: 2.5rem;
    width: 15rem;
    border-width: 2px;
    border-style: solid;
    border-color: orange;
    border-radius: 9px;
   outline: none;
   background: unset;
   color: #fff;
   padding-left:.5rem;
   margin-left: .5rem;
   display: flex;
}
  input:hover{

    color: #fff;
        border-color: orangered;
      transition: all 0.7s ease-in-out;
  }
  input::placeholder{
  	color: whitesmoke;
  }

  textarea{
    width: 16rem;
    height: 5rem;
    border-width: 2px;
    border-style: solid;
    border-color: orange;
    border-radius: 9px;
   outline: none;
   background: unset;
   color:#fff;
   padding-left:.5rem;
   margin-left: .5rem;
   display: flex;
  }
  textarea:hover{
    background: #272727;
    color: #fff;
        border-color: orangered;
      transition: all 0.7s ease-in-out;
  }
  .submit{
    outline: none;
    margin: 1rem 0rem 1rem 0rem;
    width: 18rem;
    height: 3rem;
    color: orange;
    background: unset;
    border: 3px solid #fff;
    border-radius: 1rem;
  }
  .submit:hover{

    border: 3px solid orangered;
    color: #fff;
    border-radius: 1rem;
    transition: all 1s ease-in-out;
  }

  .social-icons a {
    outline: none;
    color: white;
    padding: .4rem;
    transition: all 0.5s ease-in-out;
  }
  
  .social-icons a:hover {
    color: #ff652f;
  }
  
  footer {
    font-size: 1rem;
    padding: 1rem;
    color: #fff;
  }
  .theme{
      outline: none;
      margin: 1rem 0rem 1rem 0rem;
      width: 18rem;
      height: 3rem;
      color: orange;
      background: unset;
      border: 3px solid #fff;
      outline: none;
      border-radius: 2rem;
    }
    .theme:hover{
      outline: none;
      border: 3px solid orangered;
      color: #000;
      border-radius: 2rem;
      transition: all 1s ease-in-out;
    }
  